:root {
  /* color */
  --primaryColor: #4A3BB9;
  --whiteColor: #F5F5F5;
  /* Font */
  --mainFont:  'Montserrat', sans-serif;
}
* {
  box-sizing: border-box !important;
}
body {
  font-family: var(--mainFont);
}
